.glider,
.draggable {
  display: flex;
  justify-content: space-between;
}

.category-image {
  width: 60px;
  height: 60px;
}

.glider-container {
  margin-top: 1.25rem;
  margin-inline: 1rem;
  position: relative;
}

.glider-track {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  padding-bottom: 1rem;
}

.glider-item {
  width: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: var(--clr-accent-100);
  padding: 20px;

  border-radius: 1rem;
}

.glider-dots {
  padding-top: 1rem;
}

.glider-movement-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-block: 1rem;
}

.glider-prev,
.glider-next {
  width: fit-content;
  position: unset;
}
