// * Use all _index.scss from all folders in the main SCSS
@use "../styles/abstracts" as *;
@use "../styles/base" as *;
@use "../styles/layout" as *;
@use "../styles/components" as *;
// @use "../scss/pages" as *;
// @use "../scss/animations" as *;

body {
  background: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsl(325, 37%, 90%) 100%);
}

.glider {
  padding-bottom: 1rem;
}

.glider-container {
  margin-top: 1.25rem;
  margin-inline: 1rem;
  position: relative;
}

.glider-track {
  display: flex;
  gap: 0.7rem;
}

.glider-item {
  font-weight: 500;
  font-style: italic;
  color: var(--clr-accent-500);

  width: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: var(--clr-accent-100);
  padding: 20px;

  border-radius: 1rem;
}

.glider-prev,
.glider-next {
  top: 100%;
}

.glider-prev {
  left: 20%;
}

.glider-next {
  right: 20%;
}
